head {
    background-color: #FFD700;
}

.headerboxhe {
    width: 100%;
    background-color: #FFD700;
    margin-top: 0px;
    z-index: 1;
}

header {
    background-color: #FFD700;
    justify-content: right;
    padding-right: 3%;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

section {
    padding: 20px;
    flex: 1;
    position: relative; /* Ensure that the pseudo-element is positioned correctly */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section0 {
    font-family: Arial, sans-serif;
    background-color: #302e2a;
}

.photo {
    animation: slidefromright 1s ease-in 0s 1 normal none;
}

.h4text {
    color: gray;
    text-align: right;
}

.section1 {
    font-family: Arial, sans-serif;
    background-color: #302e2a;
}

.section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 70%;
    height: 100%;
    background: url(qi\ card\ logo.webp) no-repeat center center;
    background-size: 50%;
    opacity: 0.2;
}

.logo {
    max-width: 200px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.main0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    animation: slidefromleft 1s ease-in 0s 1 normal none;
    margin: 0px;
    padding: 10px;
}

.box {
    width: 30%;
    height: 10%;
    background-color: #FFD700; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 20px solid transparent;
    padding: 20px 150px;
    transition: all 0.3s ease;
    z-index: 1;
    margin: 10px;
    border-radius: 100px;
}

.h1sec2 {
    color: white;
    text-align: center;
}

.box.in-view {
    animation: slidefromdown 2s ease-in;
}

.box:hover {
    background-color: white;
    border-color: #FFD700;
    color: black;
}

@keyframes slidefromright {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidefromleft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidefromdown {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    section {
        height: auto;
    }
}

@media (max-width: 768px) {
    .box {
        border-width: auto;
        padding: auto;
        height: auto;
        width: auto;
    }
}

